@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

label {
}
input,
button {
}
input:focus {
}
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  &:hover {
  }
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type='text'] {
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
}

select {
}
