@import 'fonts';

// ----- BASED ON ZUELLIGPHARMA -----

/*Font-weight:100*/
@font-face {
  font-family: Roboto-Thin;
  src: url(./_fonts/Roboto-Thin.ttf);
}
/*Font-weight:100*/

/*Font-weight:100*/
@font-face {
  font-family: Roboto-ThinItalic;
  src: url(./_fonts/Roboto-ThinItalic.ttf);
}
/*Font-weight:100*/

/*Font-weight:300*/
@font-face {
  font-family: Roboto-Light;
  src: url(./_fonts/Roboto-Light.ttf);
}
/*Font-weight:300*/

/*Font-weight:300*/
@font-face {
  font-family: Roboto-LightItalic;
  src: url(./_fonts/Roboto-LightItalic.ttf);
}
/*Font-weight:300*/

/*Font-weight:400*/
@font-face {
  font-family: Roboto;
  src: url(./_fonts/Roboto-Regular.ttf);
}
/*Font-weight:400*/

/*Font-weight:400*/
@font-face {
  font-family: RobotoItalic;
  src: url(./_fonts/Roboto-Italic.ttf);
}
/*Font-weight:400*/

/*Font-weight:500*/
@font-face {
  font-family: Roboto-Medium;
  src: url(./_fonts/Roboto-Medium.ttf);
}
/*Font-weight:500*/

/*Font-weight:500*/
@font-face {
  font-family: Roboto-MediumItalic;
  src: url(./_fonts/Roboto-MediumItalic.ttf);
}
/*Font-weight:500*/

/*Font-weight:700*/
@font-face {
  font-family: Roboto-Bold;
  src: url(./_fonts/Roboto-Bold.ttf);
}
/*Font-weight:700*/

/*Font-weight:700*/
@font-face {
  font-family: Roboto-BoldItalic;
  src: url(./_fonts/Roboto-BoldItalic.ttf);
}
/*Font-weight:700*/

/*Font-weight:900*/
@font-face {
  font-family: Roboto-Black;
  src: url(./_fonts/Roboto-Black.ttf);
}
/*Font-weight:900*/

/*Font-weight:900*/
@font-face {
  font-family: Roboto-BlackItalic;
  src: url(./_fonts/Roboto-BlackItalic.ttf);
}
/*Font-weight:900*/
