<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<links>
			<itemUrlBuilder type="Sitecore.XA.Foundation.Multisite.UrlBuilders.ItemUrlBuilder, Sitecore.XA.Foundation.Multisite">
				<patch:delete />
			</itemUrlBuilder>
			<itemUrlBuilder type="XmCloudSXAStarter.Custom.CustomtemUrlBuilder, XmCloudSXAStarter">
				<param desc="defaultOptions" type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel">
					<alwaysIncludeServerUrl>false</alwaysIncludeServerUrl>
					<alwaysExcludeVirtualFolder>false</alwaysExcludeVirtualFolder>
					<languageEmbedding>never</languageEmbedding>
					<languageLocation>filePath</languageLocation>
					<lowercaseUrls>true</lowercaseUrls>
					<encodeNames>true</encodeNames>
					<useDisplayName>false</useDisplayName>
					<addAspxExtension>false</addAspxExtension>
					<siteResolving>true</siteResolving>
					<shortenUrls>true</shortenUrls>
				</param>
			</itemUrlBuilder> 
		</links>
	</sitecore>
</configuration>