<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role">
  <sitecore>
    <!-- 
      Enable and set up language fallback: 
      https://doc.sitecore.com/xp/en/developers/101/sitecore-experience-manager/enable-and-set-up-language-fallback.html
    -->
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>

    <!-- 
      Enable publishing language fallback (Experience Edge): 
      https://doc.sitecore.com/xp/en/developers/hd/190/sitecore-headless-development/enable-publishing-language-fallback.html 
    -->
    <settings>
      <setting name="ExperienceEdge.EnableItemLanguageFallback">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>

  </sitecore>
</configuration>