@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.component-category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***CSS - Contact us button section***/
.zp-corporate-contact-us-btn-section {
  .contact-us-btn-section {
    position: relative;
  }
  .gradiant-section {
    margin-bottom: 20px;
    color: var(--white);
    font-family: var(--roboto-medium);
    font-size: var(--corp-h4-desktop-size);
    line-height: 140%;
    position: relative;
    height: 120px;
    flex-basis: 100%;

    &:nth-child(3n + 2) {
      &:before {
        background: radial-gradient(
          120% 190% at 0% 94.96%,
          #005d62 0%,
          #308287 58.33%,
          #91c9cc 100%
        );
        transform: rotate(-180deg);
      }
    }

    &:before {
      background: var(--corp-primary);
      background: radial-gradient(
        120% 190% at 100% 94.96%,
        #005d62 0%,
        #308287 58.33%,
        #91c9cc 100%
      );
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
    .contact-us-btn-link {
      display: inline-flex;
      align-items: end;
      padding: 25px;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      color: var(--white);
      font-family: var(--roboto-medium);
      font-size: var(--corp-h4-tablet-size);
      line-height: 150%;
      text-decoration: none;
    }
    &.bottom-right-gradient:before {
      transform: rotate(-180deg);
    }
    &.top-right-gradient:before {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &.bottom-left-gradient:before {
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .contact-us-btn-link:hover {
      background: var(--corp-primary);
    }
  }
}
@media (min-width: 768px) {
  .zp-corporate-contact-us-btn-section {
    column-gap: 16px;

    .gradiant-section {
      flex-basis: calc((100% - 36px) / 3);
    }
  }
}
@media (min-width: 1199px) {
  .zp-corporate-contact-us-btn-section {
    column-gap: 18px;

    .gradiant-section {
      height: 130px;
      .contact-us-btn-link {
        font-size: var(--corp-h4-desktop-size);
      }
    }
  }
}
