@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.zp-corporate-floating-cta {
  .floating-cta-link {
    padding: 10px 36px;
    font-size: var(--corp-body-s-size);
    line-height: 25px;
    font-family: var(--roboto);
    background: #bed131;
    outline: 0;
    border: 2px solid black;
    position: fixed;
    z-index: 12;
    display: flex;
    justify-content: center;
    opacity: 0;
    box-shadow: 5px 5px 10px #00000033;
    border-radius: 25px;
    transition: 500ms;
    right: 35px;
    bottom: 35px;
    cursor: pointer;
    text-decoration: none;
  }

  .floating-cta-link.is-visible {
    opacity: 1;
    transition: 500ms;
    color: black;

    &:hover {
      cursor: pointer;
      background: black;
      color: white;
    }
  }

  @media (min-width: 768px) {
    .floating-cta-link {
      right: 70px;
      bottom: 70px;
    }
  }
}
