@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.zp_cookie__text {
  color: white;
  padding-bottom: 20px;

  a:link,
  a:visited {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: gray;
  }
}

.component-cookies {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 20px;
  background-color: black;
  z-index: 12;
  max-width: 700px;
}

.zp-cookie {
  &__close {
    background-color: white;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
  }

  &__close:hover {
    color: white;
    outline: 0;
    border: 0;
    padding: 10px 20px;
  }

  &__close::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transform: scaleX(0);
    color: var(--white);
    background-color: var(--corp-primary);
    transition: transform 300ms ease 0s, opacity 300ms ease 0s, color 300ms ease 0s;
    z-index: -1;
  }

  &__close:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
