@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

// ----- ZP VARIANT 1 -----

.component-three-column-content {
  a.zp-section-card-item {
    display: block;
    text-decoration: none;
  }

  a.zp-section-card-item p {
    text-decoration: none;
  }

  a.zp-section-card-item .zp-section-card-item__title {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(to right, rgba(0, 93, 98, 1), rgba(0, 93, 98, 1));
    display: inline-block;
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  a.zp-section-card-item:hover .zp-section-card-item__title,
  a.zp-section-card-item:focus .zp-section-card-item__title {
    background-size: 0 2px, 100% 2px;
  }

  .zp-section-card-item:hover .zp-section-card-item__title,
  .zp-section-card-item:hover .zp-section-card-item__content {
    color: #005d62;
  }

  .zp-section-card-item__image {
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .zp-section-card-item__title {
    // font-weight: 500;
    font-size: 23px;
    line-height: 130%;
    font-family: var(--roboto);
    color: #1a4359;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .zp-section-card-item__content {
    font-size: var(--corp-body-m-size);
    line-height: 160%;
    color: var(--corp-text-color-grey);
    font-family: var(--roboto);
    text-decoration: none;
  }

  ///////////////////////////

  /**3 Col. Para**/
  .zp-corporate-three-column-para-section {
    padding: var(--corp-mobile-padding);
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .zp-corporate-page-tile-card-component {
    box-sizing: content-box;
    margin: 0 auto 38px auto;
    padding: var(--corp-mobile-padding);

    > .zp-corporate-page-tile-card-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      border-top: 1px solid #d7dee5;
      border-left: 1px solid #d7dee5;
    }
  }

  &.zp-variant-1 {
    box-sizing: content-box;
    margin: 0 auto 38px auto;
    padding: var(--corp-mobile-padding);

    > .zp-corporate-page-section-card-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
  }

  .zp-corporate-paracolumn-component {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

    .title {
      font-size: 23px;
      line-height: 34.5px;
      font-family: var(--roboto-light);
      color: var(--corp-primary);
      margin-bottom: 5px;
    }

    .description {
      font-size: 16px;
      line-height: 26px;
      font-family: var(--roboto);
      color: var(--black);
    }
  }
  @media (min-width: 768px) {
    .zp-corporate-three-column-para-section {
      padding: var(--corp-tablet-padding);
    }
    .zp-corporate-paracolumn-component {
      width: 50%;
    }
    .zp-corporate-page-tile-card-component {
      padding: var(--corp-tablet-padding);

      > .zp-corporate-page-tile-card-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.zp-variant-1 {
      padding: var(--corp-tablet-padding);

      > .zp-corporate-page-section-card-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1198px) {
    .zp-corporate-paracolumn-component:nth-child(odd) {
      padding-right: 10px;
    }
    .zp-corporate-paracolumn-component:nth-child(even) {
      padding-left: 10px;
    }
    .zp-corporate-paracolumn-component:nth-child(n + 3) {
      margin-top: 40px;
    }
  }

  @media (min-width: 1199px) {
    .zp-corporate-three-column-para-section {
      box-sizing: content-box;
      margin: 0 auto 38px auto;
      width: var(--corp-10-col-percentage);
    }
    .zp-corporate-paracolumn-component {
      padding: 0;
      width: 28%;
      margin-right: 8%;

      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 50px;
      }

      .description {
        font-size: 18px;
        line-height: 28.8px;
        margin-bottom: 0;
      }
    }
    .zp-corporate-page-tile-card-component {
      padding: var(--corp-desktop-padding);

      > .zp-corporate-page-tile-card-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &.zp-variant-1 {
      padding: var(--corp-desktop-padding);

      > .zp-corporate-page-section-card-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  /**4 Col. Logo**/

  .zp-corporate-brandlogos-component {
    width: 100%;
    padding: var(--corp-mobile-padding);
    margin-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .logo-section {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
    .logo-img {
      width: 220px;
      height: 110px;
      margin: auto;
    }
  }
  @media (min-width: 576px) {
    .zp-corporate-brandlogos-component {
      .logo-section {
        width: 220px;
        height: 110px;
        margin: 0 20px 20px 0;
      }
      .logo-img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (min-width: 768px) {
    .zp-corporate-brandlogos-component {
      padding: var(--corp-tablet-padding);
    }
  }
  @media (min-width: 1199px) {
    .zp-corporate-brandlogos-component {
      width: var(--corp-10-col-percentage);
      margin: 0 auto 38px auto;
      box-sizing: content-box;

      .zp-corporate-brandlogos-component .logo-section:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  /*** to override the default dropzone to fit in for editor view as per figma ***/
  .zp-corporate-brandlogos-component .logo-section lfr-drop-zone .page-editor__no-fragments-state {
    padding: 5.5vh 0 !important;
  }

  /** Leadership Gallery **/

  .zp-corporate-leadership-gallery {
    margin-bottom: 18px;

    .leadership-gallery-item {
      margin-bottom: 20px;
    }
    .leadership-gallery-item .leadership-img {
      width: 100%;
      margin-bottom: 17px;
      height: 210px;
      object-fit: cover;
      object-position: top;
    }
    .leadership-gallery-item .heading-section {
      display: flex;
      position: relative;
      margin-bottom: 3px;
    }
    .leadership-gallery-item .heading-section .title {
      font-size: 18px;
      font-family: var(--roboto-medium);
      line-height: 180%;
      margin-bottom: 2px;
    }
    .leadership-gallery-item .heading-section:hover .title {
      color: var(--corp-primary);
      cursor: pointer;
    }
    .leadership-gallery-item .heading-section .expand-icon {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
    .leadership-gallery-item .heading-section:hover .expand-icon {
      content: url('/documents/d/guest/expand-icon-highlighted');
    }
    .leadership-gallery-item .subtitle,
    .leadership-gallery-item .linkedin-link {
      font-size: 16px;
      line-height: 160%;
      font-family: var(--roboto);
      margin-bottom: 8px;
    }
    .leadership-gallery-item .linkedin-link {
      color: var(--corp-text-color-grey);
      text-decoration: underline;
      margin-bottom: 0;
    }
  }
  @media (min-width: 768px) {
    .zp-corporate-leadership-gallery {
      margin-bottom: 0;

      .leadership-gallery-item {
        margin-bottom: 38px;
      }
      .leadership-gallery-item .heading-section .title {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 1px;
      }
      .leadership-gallery-item .leadership-img {
        margin-bottom: 18px;
        height: 224px;
      }
      .leadership-gallery-item .subtitle {
        margin-bottom: 9px;
      }
    }
  }
  @media (min-width: 1199px) {
    .zp-corporate-leadership-gallery .leadership-gallery-item {
      .heading-section .title {
        font-size: 23px;
        line-height: 140%;
        margin-bottom: 2px;
      }
      .subtitle,
      .linkedin-link {
        font-size: 18px;
        line-height: 150%;
      }
      .subtitle {
        margin-bottom: 10px;
      }
      .leadership-img {
        margin-bottom: 20px;
        height: 244px;
      }
    }
  }

  /*Page Card Title*/

  .zp-corporate-page-card-component {
    > div {
      border: 1px solid #d7dee5;
    }
    .page-card-item {
      background: var(--white);
      padding: 24px 30px;
    }
  }
}

// ----- ZP VARIANT 3 -----

.component-three-column-content.zp-variant-3 {
  .zp-partner-stats--eight {
    max-width: var(--corp-desktop-max-width-8-col);
  }
  .zp-partner-stats--ten {
    max-width: var(--corp-desktop-max-width-10-col);
  }
  .zp-partner-stats--twelve {
    max-width: var(--corp-desktop-max-width-12-col);
  }
  .zp-partner-stats--full {
    max-width: 100%;
  }
  .zp-partner-stats {
    padding: var(--corp-mobile-padding);
    margin: 0 auto 20px;
    box-sizing: content-box;
    color: var(--corp-text);

    &__title {
      font-family: var(--roboto-light);
      font-size: var(--corp-h3-mobile-size);
      line-height: 125%;
      margin-bottom: 38px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 22px;
      grid-column-gap: 20px;
    }

    .zp-desc-stats__stat-item {
      border-left: 2px solid #c3d500;
      padding: 10px;
    }

    &__stat-metric {
      font-family: var(--roboto);
      font-size: var(--corp-h3-mobile-size);
      line-height: 125%;
      color: #005d62;
    }

    &__stat-description {
      font-family: var(--roboto-light);
      font-size: 16px;
      line-height: 160%;
    }

    &__disclaimer {
      font-family: var(--roboto-light);
      font-size: 14px;
      line-height: 160%;
    }
  }

  @media (min-width: 768px) {
    .zp-partner-stats {
      padding: var(--corp-tablet-padding);

      &__title {
        font-size: var(--corp-h3-tablet-size);
        line-height: 125%;
      }
      &__stat-metric {
        font-size: var(--corp-h3-tablet-size);
        line-height: 125%;
      }
      &__stat-description {
        font-size: 16px;
        line-height: 160%;
      }

      &__list {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 38px;
        grid-column-gap: 20px;
      }

      &__disclaimer {
        grid-column: 1 / 4;
        font-size: 14px;
      }
    }
  }

  @media (min-width: 1199px) {
    .zp-partner-stats {
      padding: var(--corp-desktop-padding);

      &__title {
        font-size: var(--corp-h3-desktop-size);
        line-height: 140%;
      }
      &__stat-metric {
        font-size: var(--corp-h3-desktop-size);
        line-height: 125%;
      }
      &__stat-description {
        font-size: 18px;
        line-height: 160%;
      }

      &__list {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 38px;
        grid-column-gap: 20px;
      }

      &__disclaimer {
        grid-column: 1 / 4;
        font-size: 16px;
      }
    }
  }
}

// ----- ZP VARIANT 2 -----

.component-three-column-content.zp-variant-2 {
  .zp-img-txt__image {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .zp-img-txt__image.is-contain-img {
    object-fit: contain;
  }
}

