@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

/**3 Col. Para**/
.zp-corporate-three-column-para-section {
  padding: var(--corp-mobile-padding);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.zp-corporate-page-tile-card-component {
  box-sizing: content-box;
  margin: 0 auto 38px auto;
  /*max-width: var(--corp-desktop-max-width-10-col);*/
  padding: var(--corp-mobile-padding);
}

.zp-corporate-page-tile-card-component > .zp-corporate-page-tile-card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-top: 1px solid #d7dee5;
  border-left: 1px solid #d7dee5;
}

.zp-corporate-page-section-card-component {
  box-sizing: content-box;
  margin: 0 auto 38px auto;
  /*max-width: var(--corp-desktop-max-width-10-col);*/
  padding: var(--corp-mobile-padding);
}

.zp-corporate-page-section-card-component > .zp-corporate-page-section-card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.zp-corporate-paracolumn-component {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.zp-corporate-paracolumn-component .title {
  font-size: 23px;
  line-height: 34.5px;
  font-family: var(--roboto-light);
  color: var(--corp-primary);
  margin-bottom: 5px;
}
.zp-corporate-paracolumn-component .description {
  font-size: 16px;
  line-height: 26px;
  font-family: var(--roboto);
  color: var(--black);
}

@media (min-width: 768px) {
  .zp-corporate-three-column-para-section {
    padding: var(--corp-tablet-padding);
  }
  .zp-corporate-paracolumn-component {
    width: 50%;
  }
  .zp-corporate-page-tile-card-component {
    padding: var(--corp-tablet-padding);
  }
  .zp-corporate-page-tile-card-component > .zp-corporate-page-tile-card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .zp-corporate-page-section-card-component {
    padding: var(--corp-tablet-padding);
  }
  .zp-corporate-page-section-card-component > .zp-corporate-page-section-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1198px) {
  .zp-corporate-paracolumn-component:nth-child(odd) {
    padding-right: 10px;
  }
  .zp-corporate-paracolumn-component:nth-child(even) {
    padding-left: 10px;
  }
  .zp-corporate-paracolumn-component:nth-child(n + 3) {
    margin-top: 40px;
  }
}

@media (min-width: 1199px) {
  .zp-corporate-three-column-para-section {
    box-sizing: content-box;
    margin: 0 auto 38px auto;
    width: var(--corp-10-col-percentage);
    /*max-width: var(--corp-desktop-max-width-10-col);*/
  }
  .zp-corporate-paracolumn-component {
    padding: 0;
    width: 28%;
    margin-right: 8%;
  }
  .zp-corporate-paracolumn-component:nth-child(3n) {
    margin-right: 0;
  }
  .zp-corporate-paracolumn-component:nth-child(n + 4) {
    margin-top: 50px;
  }

  .zp-corporate-paracolumn-component .description {
    font-size: 18px;
    line-height: 28.8px;
    margin-bottom: 0;
  }
  .zp-corporate-page-tile-card-component {
    padding: var(--corp-desktop-padding);
  }

  .zp-corporate-page-tile-card-component > .zp-corporate-page-tile-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .zp-corporate-page-section-card-component {
    padding: var(--corp-desktop-padding);
  }

  .zp-corporate-page-section-card-component > .zp-corporate-page-section-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**4 Col. Logo**/

.zp-corporate-brandlogos-component {
  width: 100%;
  padding: var(--corp-mobile-padding);
  margin-bottom: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.zp-corporate-brandlogos-component .logo-section {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.zp-corporate-brandlogos-component .logo-img {
  width: 220px;
  height: 110px;
  margin: auto;
}
@media (min-width: 576px) {
  .zp-corporate-brandlogos-component .logo-section {
    width: 220px;
    height: 110px;
    margin: 0 20px 20px 0;
  }
  .zp-corporate-brandlogos-component .logo-img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .zp-corporate-brandlogos-component {
    padding: var(--corp-tablet-padding);
  }
}
@media (min-width: 1199px) {
  .zp-corporate-brandlogos-component {
    width: var(--corp-10-col-percentage);
    /*max-width: var(--corp-desktop-max-width-10-col);*/
    margin: 0 auto 38px auto;
    box-sizing: content-box;
  }
  .zp-corporate-brandlogos-component .logo-section:nth-child(4n) {
    margin-right: 0;
  }
}
/*** to override the default dropzone to fit in for editor view as per figma ***/
.zp-corporate-brandlogos-component .logo-section lfr-drop-zone .page-editor__no-fragments-state {
  padding: 5.5vh 0 !important;
}

/** Leadership Gallery **/

.zp-corporate-leadership-gallery {
  margin-bottom: 18px;

  .leadership-gallery-item {
    margin-bottom: 20px;
  }
  .leadership-gallery-item .leadership-img {
    width: 100%;
    margin-bottom: 17px;
    height: 210px;
    object-fit: cover;
    object-position: top;
  }
  .leadership-gallery-item .heading-section {
    display: flex;
    position: relative;
    margin-bottom: 3px;
  }
  .leadership-gallery-item .heading-section .title {
    font-size: 18px;
    font-family: var(--roboto-medium);
    line-height: 180%;
    margin-bottom: 2px;
  }
  .leadership-gallery-item .heading-section:hover .title {
    color: var(--corp-primary);
    cursor: pointer;
  }
  .leadership-gallery-item .heading-section .expand-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .leadership-gallery-item .heading-section:hover .expand-icon {
    content: url('/images/expand-icon-highlighted.svg');
  }
  .leadership-gallery-item .subtitle,
  .leadership-gallery-item .linkedin-link {
    font-size: 16px;
    line-height: 160%;
    font-family: var(--roboto);
    margin-bottom: 8px;
  }
  .leadership-gallery-item .linkedin-link {
    color: var(--corp-text-color-grey);
    text-decoration: underline;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .zp-corporate-leadership-gallery {
    margin-bottom: 0;

    .leadership-gallery-item {
      margin-bottom: 38px;
    }
    .leadership-gallery-item .heading-section .title {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 1px;
    }
    .leadership-gallery-item .leadership-img {
      margin-bottom: 18px;
      height: 224px;
    }
    .leadership-gallery-item .subtitle {
      margin-bottom: 9px;
    }
  }
}
@media (min-width: 1199px) {
  .zp-corporate-leadership-gallery {
    .leadership-gallery-item .heading-section .title {
      font-size: 23px;
      line-height: 140%;
      margin-bottom: 2px;
    }
    .leadership-gallery-item .subtitle,
    .leadership-gallery-item .linkedin-link {
      font-size: 18px;
      line-height: 150%;
    }
    .leadership-gallery-item .subtitle {
      margin-bottom: 10px;
    }
    .leadership-gallery-item .leadership-img {
      margin-bottom: 20px;
      height: 244px;
    }
  }
}

/*Page Card Title*/

.zp-corporate-page-card-component {
  > div {
    border: 1px solid #d7dee5;
  }
  .page-card-item {
    background: var(--white);
    padding: 24px 30px;
  }
}
