@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.zp-img-scroller--eight {
  max-width: var(--corp-desktop-max-width-8-col);
}
.zp-img-scroller--ten {
  max-width: var(--corp-desktop-max-width-10-col);
}
.zp-img-scroller--twelve {
  max-width: var(--corp-desktop-max-width-12-col);
}
.zp-img-scroller--full {
  max-width: 100%;
}
.zp-img-scroller__wrapper {
  max-width: 100vw;
  overflow: hidden;
}
.zp-img-scroller__container {
  /*width: 100%;*/
  margin: auto;
  padding: var(--corp-mobile-padding);
  box-sizing: content-box;
  margin-bottom: 38px;
}

.zp-img-scroller__list-container {
  /*   position: relative;
  width: 100vw;
  box-sizing: content-box;
  background: red; */
}

.zp-img-scroller__list {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.zp-img-scroller__item {
  height: 380px;
  width: 280px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.zp-img-scroller__item ~ .zp-img-scroller__item {
  margin-left: 20px;
}

.zp-img-scroller__main {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.zp-img-scroller__hidden {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.zp-img-scroller__hidden:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.zp-img-scroller__hidden-content {
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.zp-img-scroller__item:hover > .zp-img-scroller__main {
  transform: translateY(-380px);
}

.zp-img-scroller__item:hover > .zp-img-scroller__hidden {
  transform: translateY(-380px);
}

.zp-img-scroller__item:hover > .zp-img-scroller__hidden:after {
  opacity: 1;
}

.zp-img-scroller__image {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-color: #013a49;
}

.zp-img-scroller__title {
  font-size: 48px;
  line-height: 125%;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
  color: white;
}

.zp-img-scroller__content {
  font-size: 18px;
  line-height: 140%;

  color: white;
  font-weight: 300;
}

.zp-img-scroller__pagination {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zp-img-scroller__pagination-toggle {
  border: 0;
  background: none;
  padding: 0;
  height: 40px;
  width: 41px;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }
}

.zp-img-scroller__pagination-toggle:disabled {
  color: #ccc;
  cursor: default;
}

.zp-img-scroller__pagination-toggle--left {
}

.zp-img-scroller__pagination-toggle--right {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .zp-img-scroller__container {
    padding: var(--corp-tablet-padding);
  }

  .zp-img-scroller__title {
    font-size: 54px;
  }

  .zp-img-scroller__content {
    font-size: 20px;
  }
  .zp-img-scroller__hidden-content {
    font-size: 18px;
  }
}

@media (min-width: 1199px) {
  .zp-img-scroller__container {
    padding: var(--corp-desktop-padding);
  }

  .zp-img-scroller__title {
    font-size: 68px;
  }

  .zp-img-scroller__content {
    font-size: 23px;
  }

  .zp-img-scroller__pagination-count {
    font-size: 18px;
  }

  .zp-img-scroller__pagination {
    justify-content: flex-start;
  }

  .zp-img-scroller__hidden-content {
    font-size: 18px;
  }
}

.page-editor__topper__content .zp-img-scroller__item {
  overflow: visible;
  height: 100%;
}

.page-editor__topper__content .zp-img-scroller__item:hover > .zp-img-scroller__main {
  transform: none;
}

.page-editor__topper__content .zp-img-scroller__item > .zp-img-scroller__hidden {
  transform: none;
  background-color: gray;
  opacity: 1;
}

.page-editor__topper__content .zp-img-scroller__hidden-content {
  opacity: 1;
}
