@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.component-accordion {
  .card,
  .card-header,
  .card-body {
    background: none;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
}

.zp-corporate-accordion-container {
  position: relative;
  z-index: 0;
  margin: auto;
  padding: 0 35px;

  &.zp-corporate-accordion--12-col {
    max-width: var(--corp-desktop-max-width-12-col);
    width: 100%;
  }

  &.zp-corporate-accordion--10-col {
    max-width: var(--corp-desktop-max-width-10-col);
    width: 100%;
  }

  &.zp-corporate-accordion--8-col {
    max-width: var(--corp-desktop-max-width-8-col);
    width: 100%;
  }
}
