@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.component-description-with-stats {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  .zp-desc-stats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: var(--corp-mobile-padding);
    margin: 0 auto 20px;
    box-sizing: content-box;
    color: var(--corp-text);

    &--eight {
      max-width: var(--corp-desktop-max-width-8-col);
    }
    &--ten {
      max-width: var(--corp-desktop-max-width-10-col);
    }
    &--twelve {
      max-width: var(--corp-desktop-max-width-12-col);
    }
    &--full {
      max-width: 100%;
    }

    &__desc {
      grid-column: 1;
      font-size: 18px;
      line-height: 150%;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 28px;
      grid-column-gap: 20px;
    }

    &__stat-item {
      border-left: 2px solid #c3d500;
      padding: 10px;
    }

    &__stat-metric {
      font-size: 18px;
      line-height: 150%;
    }

    &__stat-description {
      font-family: var(--roboto-light);
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
    }
  }

  @media (min-width: 768px) {
    .zp-desc-stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: var(--corp-tablet-padding);

      &__desc,
      &__stat-metric {
        font-size: var(--corp-h4-tablet-size);
        line-height: 150%;
      }

      &__stat-description {
        font-size: 16px;
        line-height: 160%;
      }

      &__stats {
        grid-column: 2 / 4;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (min-width: 1199px) {
    .zp-desc-stats {
      padding: var(--corp-desktop-padding);
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      &__desc {
        font-size: var(--corp-h4-desktop-size);
        line-height: 130%;
      }

      &__stat-metric {
        font-size: var(--corp-h4-desktop-size);
        line-height: 130%;
      }

      &__stat-description {
        font-size: 18px;
        line-height: 160%;
      }

      &__stats {
        grid-column: 2 / 4;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
