@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.component-cta-contact-us-heading {
  background: #ffffff;
   background: rgba(0, 93, 98, 0.05);
   background: conic-gradient(from -1.38deg at 70% 50%, rgba(0, 93, 98, 0) -47.84deg, #195D6130 61.87deg, rgba(0, 93, 98,
   0) 312.16deg, #195D6130 421.87deg);
   padding: 60px 0;
  .contactus-text-btn-section {
    margin-bottom: 0;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: 1199px) {
      align-items: center;
      justify-content: space-between;
    }
  }
  .text-column{
    font-size: var(--corp-h3-mobile-size);
    font-family: var(--roboto-light);
    line-height: 125%;
    margin-bottom: 20px;
    text-align: center;
    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1199px) {
      margin-bottom: 0;
      font-size: var(--corp-h3-desktop-size);
      width: 35%;
      text-align: left;
      max-width: 340px;
    }
  }
  .corp-dropdown-section{
    margin-bottom: 20px;
    font-family: var(--roboto);
    font-size: var(--corp-body-m-size);
    line-height: 160%;
    color: var(--black);
    @media (min-width: 768px){
      width: 50%;
      margin-right: 20px;
      .select-span{
        font-size: var(--corp-body-l-size);
        line-height: 150%;
        color: #505050;
        display: inline-block;
        width: calc(100% - 30px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      max-width: 310px;
      margin-bottom: 0;
    }
    @media (min-width: 1199px){
      width: 35%;
      margin-bottom: 0;
    }
  }
  .corp-dropdown{
    padding: 12px 20px;
    max-height: 56px;
    @media (min-width: 768px){
      padding: 15px 20px;
    }
  }
  .btn-section{
    text-align: center;
  }
  .btn-section-disabled{
    text-align: center;
    cursor: not-allowed;
  }
  .btn-section-link{
    padding: 12px 55px;
    color: var(--white);
    font-size: var(--corp-body-l-size);
    font-family: var(--roboto);
    line-height: 180%;
    background-color: var(--black);
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
  .btn-section-link-disabled{
    padding: 12px 55px;
    color: var(--black);
    font-size: var(--corp-body-l-size);
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    pointer-events: none;
    background-color: var( --corp-form-btn-disabled-color);
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
  .btn-section-link::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transform: scaleX(0);
    color: var(--white);
    background-color: var(--corp-primary);
    transition: transform 300ms ease 0s, opacity 300ms ease 0s, color 300ms ease 0s;
    z-index: -1;
  }
  .btn-section-link:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
  .corp-dropdown-list{
    &.is-display{
      z-index: 2;
    }
  }
}

.corp-dropdown-list{
  &.is-display{
    display: block;
  }
}
