@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.zp-stories__container {
  margin: 0 auto 20px;
  box-sizing: content-box;
  max-width: var(--corp-desktop-max-width-12-col);
  padding: var(--corp-mobile-padding);
}

.zp-stories__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.zp-stories__title .zp-stories__title-anim {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 93, 98, 1), rgba(0, 93, 98, 1));
  display: inline-block;
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  display: inline;
}

a.zp-stories__item:hover .zp-stories__title .zp-stories__title-anim,
a.zp-stories__item:focus .zp-stories__title .zp-stories__title-anim {
  background-size: 0 2px, 100% 2px;
}

.zp-stories__header {
  font-weight: 300;
  font-size: 28px;
  max-width: calc(100% - 140px);
  margin: 0;
  font-family: var(--roboto-light);
}

a.zp-stories__cta-button {
  display: block;
  font-weight: 400;
  padding: 6px 36px;
  font-size: 14px;
  border: 2px solid #000;
  line-height: 180%;
  white-space: nowrap;
  cursor: pointer;
  color: var(--corp-text);
  text-decoration: none;
  font-family: var(--roboto);
}

a.zp-stories__cta-button:hover {
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
}

.zp-stories__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 38px;
  font-family: var(--roboto-light);
}

.zp-stories__list-container {
  overflow: hidden;
  position: relative;
}

.zp-stories__list {
  display: flex;
  transition: transform 0.3s ease-in-out;

  /*   display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px; */
}

a.zp-stories__item {
  flex-basis: calc(100%);
  flex-shrink: 0;
  text-decoration: none;
  display: block;
}

.zp-stories__image {
  height: 226px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.zp-stories__title {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  color: var(--corp-text);
  font-family: var(--roboto);
}

.zp-stories__content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  font-size: var(--corp-body-m-size);
  line-height: 160%;
  color: var(--corp-text-color-grey);
  font-family: var(--roboto);
  text-decoration: none;
}

.zp-stories__pagination {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--roboto-light);
}

.zp-stories__pagination-count {
  padding: 0 20px;
  font-size: 16px;
}

.zp-stories__pagination-toggle {
  border: 0;
  background: none;
  padding: 0;
  height: 40px;
  width: 41px;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zp-stories__pagination-toggle:disabled {
  color: #ccc;
  cursor: default;
}

.zp-stories__pagination-toggle--left {
}

.zp-stories__pagination-toggle--right {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .zp-stories__container {
    padding: var(--corp-tablet-padding);
  }
  .zp-stories__header {
    font-size: 34px;
  }

  .zp-stories__description {
    font-size: 20px;
  }
  .zp-stories__list {
    grid-template-columns: repeat(2, 1fr);
  }

  a.zp-stories__item {
    flex-basis: calc(50% - 10px);
    flex-shrink: 0;
  }

  a.zp-stories__item ~ a.zp-stories__item {
    margin-left: 20px;
  }

  .zp-stories__title {
    font-size: 20px;
    line-height: 150%;
  }
}

@media (min-width: 1199px) {
  .zp-stories__container {
    padding: var(--corp-desktop-padding);
  }
  .zp-stories__header {
    font-size: 42px;
  }
  .zp-stories__description {
    font-size: 23px;
  }
  .zp-stories__list {
    grid-template-columns: repeat(3, 1fr);
  }

  a.zp-stories__item {
    flex-basis: calc(33.3334% - 13.3334px);
    flex-shrink: 0;
  }

  .zp-stories__title {
    font-size: 23px;
    line-height: 130%;
  }

  .zp-stories__content {
    font-size: 18px;
    color: #8e8f8f;
  }

  .zp-stories__pagination-count {
    font-size: 18px;
  }

  .zp-stories__pagination {
    justify-content: flex-start;
  }
}
