@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

/***News and insight articles carousel section ***/
.zp-corporate-articles-carousel {
  margin-top: 60px;

  .carousel-inner .article-img {
    height: 470px;
    object-fit: cover;
  }
  .carousel-indicator-list {
    width: 11px;
    height: 11px;
    background-color: #ecf1f4;
    border-radius: 100%;
  }
  .carousel-indicator-list.active {
    background-color: #005d62;
  }
  .article-description-section {
    right: 35px;
    left: 35px;
    top: 40px;
    text-align: left;
    padding: 0;

    .article-btn {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 25px;
      border: none;
      padding: 6px 15px;
      color: var(--white);
      font-family: var(--roboto-medium);
      font-size: 12px;
      line-height: 14px;
      display: inline-block;
      margin-right: 4px;
    }
    .btn-section {
      margin-bottom: 10px;
    }
    .title {
      font-family: var(--roboto-light);
      font-size: var(--corp-h2-mobile-size);
      line-height: 125%;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .subtitle {
      font-family: var(--roboto);
      font-size: var(--corp-body-s-size);
      line-height: 160%;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .published-date {
      font-family: var(--roboto);
      font-size: 10px;
      line-height: 160%;
      margin-bottom: 10px;
    }
    .readmore-link {
      font-family: var(--roboto);
      font-size: 14px;
      line-height: 180%;
      padding: 5px 12px;
      border: 1px solid #fff;
      color: #fff;
      background: transparent;
      display: inline-block;
      text-decoration: none;
    }
    .readmore-link:hover {
      background: var(--corp-tertiary);
    }
  }
  .dark-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--black);
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .zp-corporate-articles-carousel {
    .article-description-section {
      left: 70px;
      right: 70px;
      top: 53px;

      .btn-section {
        margin-bottom: 18px;
      }
      .title {
        font-size: var(--corp-h2-tablet-size);
        margin-bottom: 18px;
        -webkit-line-clamp: 2;
      }
      .subtitle {
        font-size: var(--corp-body-m-size);
        margin-bottom: 18px;
        -webkit-line-clamp: 3;
      }
      .published-date {
        font-size: 12px;
        margin-bottom: 18px;
      }
      .readmore-link {
        font-size: 16px;
        padding: 5px 30px;
      }
    }
  }
}
@media (min-width: 1199px) {
  .zp-corporate-articles-carousel {
    .article-description-section {
      left: 100px;
      right: 100px;
    }
    .article-description-section .title {
      font-size: var(--corp-h2-desktop-size);
    }
    .article-description-section .subtitle {
      font-size: var(--corp-body-l-size);
    }
    .article-description-section .published-date {
      font-size: 14px;
    }
  }
}

/***Article carousel end ***/
