@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

/***Featured video component css***/

.zp-corporate-featured-video-section {
  .img-section {
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    display: grid;
  }
  .img-section .video-play-icon {
    position: absolute;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .featured-img {
    max-width: 100%;
    height: auto;
  }
  .content-section {
    color: var(--black);
  }
  .content-section .title {
    font-size: var(--corp-h3-mobile-size);
    font-family: var(--roboto-light);
    margin-bottom: 38px;
    line-height: 125%;
  }
  .content-section .subtitle {
    font-size: 18px;
    font-family: var(--roboto-light);
    margin-bottom: 10px;
    line-height: 150%;
  }
  .content-section .description {
    font-size: 16px;
    font-family: var(--roboto);
    line-height: 160%;
  }
}
@media (min-width: 768px) {
  .zp-corporate-featured-video-section {
    .content-section .title {
      font-size: var(--corp-h3-desktop-size);
      line-height: 140%;
    }
    .content-section .subtitle {
      font-size: 23px;
    }
    .content-section .description {
      font-size: 18px;
    }
    .img-section .video-play-icon {
      height: 100px;
    }
    .img-section,
    .featured-img {
      width: 100%;
    }
  }
}
@media (min-width: 1199px) {
  .zp-corporate-featured-video-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;

    .img-section {
      margin-bottom: 0;
    }
    .content-section {
      padding: 36px 0 36px 10px;
    }
    .featured-img {
      width: 100%;
      max-height: 420px;
      object-fit: cover;
    }
  }
}
