@import '@sass/abstracts/mixins';
@import '@sass/abstracts/vars';

.zp-h2-header__black {
  font-family: var(--roboto-light);
  color: var(--corp-text);
  font-size: var(--corp-h2-mobile-size);
  padding: var(--corp-mobile-padding);
  line-height: 150%;
  margin: 0 auto 38px;
  box-sizing: content-box;

  &--eight {
    max-width: var(--corp-desktop-max-width-8-col);
  }
  &--ten {
    max-width: var(--corp-desktop-max-width-10-col);
  }
  &--twelve {
    max-width: var(--corp-desktop-max-width-12-col);
  }
  &--full {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .zp-h2-header__black {
    font-size: var(--corp-h2-tablet-size);
    padding: var(--corp-tablet-padding);
  }
}

@media (min-width: 1199px) {
  .zp-h2-header__black {
    font-size: var(--corp-h2-desktop-size);
    padding: var(--corp-desktop-padding);
  }
}

// Segment content

.zp-corporate-industries-list-section {
  margin-bottom: 0;
  color: var(--black);

  .description {
    font-size: var(--corp-h4-mobile-size);
    font-family: var(--roboto-light);
    line-height: 140%;
    margin-bottom: 38px;
  }

  .industries-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .industries-list-item {
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    position: relative;
  }

  .industries-list-item:not(:first-child) {
    margin-top: 20px;
  }

  .list-item-lbl {
    flex-grow: 1;
    font-size: var(--corp-body-m-size);
    font-family: var(--roboto);
    line-height: 140%;
    color: var(--black);
  }

  .industries-page-link {
    background-image: url('/documents/d/guest/report-open-icon');
    position: absolute;
    right: 0;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: bottom;
    color: transparent;
  }

  .industries-page-link:hover {
    background-image: url('/documents/d/guest/report-open-hover-icon');
  }

  .list-item-lbl:hover {
    color: #005d62;
  }
}

@media (min-width: 768px) {
  .zp-corporate-industries-list-section {
    .industries-list {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
    }

    .list-item-lbl {
      font-size: var(--corp-body-l-size);
    }
  }
}

@media (min-width: 1199px) {
  .zp-corporate-industries-list-section {
    .description {
      font-size: var(--corp-h4-desktop-size);
    }

    &.corp-12-col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;

      .description {
        margin-bottom: 0;
      }

      .industries-list-section {
        grid-column: span 2;
      }
    }

    .list-item-lbl {
      font-size: var(--corp-body-xl-size);
    }
  }
}
